/* Side bar */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

.Left-app {
  text-align: center;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
}

.Sidebar {
  height: 100%;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #3BA643;
}
.mainCat:hover {
  color: white;
  transition: 1s;
  cursor: pointer;
}

.sidebarCat {
  padding-top: 50px;
  /* padding-left: 15%; */
  text-align: left;
}

.sideTop {
  padding-top: 10%;
}

.sideuserinfo {
  background-color: #121212;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.Right-app {
  position: relative;
  margin-left: 250px;
  flex: 4;
  width: 80%;
}
.gamesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 50px;
  padding: 20px;
  justify-items: center;
}
.card-body .title {
  color: white;
  font-weight: normal;
  font-size: 1.25rem;
  text-align: center;
}

.panel .card-body {
  background-color: #00425a;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.steam-link {
  color: white;
  text-decoration: none;
}
.steam-link:hover {
  color: white;
}

.card {
  border: none !important;
}
.steam-fav-bts {
  display: flex;
  justify-content: space-between;
}
.fav {
  margin: 0;
}
/* .card-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
} */

.main-wrapper {
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: fixed;
  background: rgba(0, 0, 0, 0.834);
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #00425a transparent #00425a transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

.logo-anim {
  width: 100px;
  animation: logo-popping 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes logo-popping {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
